.navigation-panel { 
    grid-area: navigation-panel;
    height:auto;
    display:flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}
.navigation-buttons{
    display: flex;
    flex-direction: column;
  }
.navigation-panel-button{
    background-color: #72b5f8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    margin: 20px 2px;
    cursor: pointer;
    width: 80%;
    border-radius: 10px;
    height:auto;
}
.icons {
    height:40px;
    width: 40px;
}

.user-details{
    line-height: 1rem;
}