
.SignInContainer{
  height: 530px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #72b5f8;
}
.SignInForm{
  
  width: 30%;
  height: 500px;
  box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  background-color:white;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
input{

  
  height:50px;
  width:70%;
  border-color: #72b5f8;
  border-top: 0;
  border-left:0;
  border-right:0;

}

.form-submit-button {
  background-color:#5c7add;
  border-bottom: 0;
  border-radius:10px;
  color:#ffffff;
  font-weight:500;
}


.header {
  padding: 10px;
  text-align: center;
  background: #5c7add;
  color: white;
  font-size: 30px;
  
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  padding: 30px;

}
 .logo {
    height:100px;
    width: 100px;

}
.group-icon{
  height:100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}

.navigation-panel { 
grid-area: navigation-panel;
height:100vh;
display:flex;
flex-direction: column;
align-items: center;
border-radius: 10px;


}
.PostScreen{ 
  grid-area: postScreen;
  border-radius: 10px;
  display:flex;
  justify-content: center;
  position: relative;
         }
.ScreenCard{
  width: 90%;
  height: 180px;
  background-color: aliceblue;
  
  border-radius: 10px;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  padding-left:40px;
  padding-right:40px;
  box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
        }
.ScreenCardDescription{
  justify-content:flex;
  flex-direction: flex-start;
}
.ScreenCardContainer{
  display: inline-block;
  width: 100%;
  border-right:2px;
  border: 2px solid #808080;
  border-radius: 10px;
  border-top:0;
  border-right:0;
  border-bottom:0;
}
.ScreenCardContainerLabel{
  font-size:25px;
  text-align:left;
  padding-left: 20px;
  padding-bottom: 1px;
 

}
.ScreenCardContainerDescription{
  font-size:12px;
  text-align:left;
  padding-left: 20px;
}

.grid-container {
  display: grid;
  grid-template-areas:
    
    'navigation-panel postScreen postScreen postScreen postScreen postScreen'
    'navigation-panel postScreen postScreen postScreen postScreen postScreen';
  gap: 5px;
  background-color: #72b5f8;
  padding: 10px;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}
.logo-main
{
  height:200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
}
.footer{

  width: 100vw;
  display:flex;
  flex-direction: row;
  justify-content: center;
  background-color: #5c7add;
  
}
.navigation-buttons{
  display: flex;
  flex-direction: column;
}
.navigation-panel-button{
  background-color: #72b5f8;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: flex;
  justify-content: space-between;
  font-size: 16px;
  margin: 20px 2px;
  cursor: pointer;
  width: 60%;
  border-radius: 10px;
  height:40px;
}
.icons {
  height:40px;
  width: 40px;
}
.header-icon{

  height:80px;
  width: 80px;

}
.posts-container {
  height:80%;
  background-color:white;
  
  border-radius: 10px;
  box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  width:80%;
  
}
form{
  padding:20px;
}
.ScreenCardContainerActions{
  padding:5px;
  width:100%;
  display:inline;
  margin: 10px 10px 10px 10px;

}
.ActionLike{
 text-align:center;
 height:40px;
 color:white;
 background-color: green;
 border:0;
 border-radius: 4px;
}
.ActionComment{
  text-align:center;
 height:40px;
 color:white;
 background-color: green;
 border:0;
 border-radius: 4px;

}