input{
  height:50px;
  width:70%;
  border-color: #72b5f8;
  border-top: 0;
  border-left:0;
  border-right:0;

}

.form-submit-button {
  background-color: #72b5f8;
  border-bottom: 0;
  border-radius:10px;
  color:#ffffff;
  font-weight:500;
  cursor: pointer;
  font-size: 22px;
}

.group-icon{
    height:100px;
    width: 100px;
    border-radius: 50%;
    object-fit: cover;
}


.PostScreen{ 
  grid-area: postScreen;
  border-radius: 10px;
  display:flex;
  justify-content: flex-start;
  flex-direction: column;

}
.ScreenCard{
  width: 60%;
  margin: 10px auto;
  background-color: aliceblue;
  border-radius: 10px;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  padding-left:40px;
  padding-right:40px;
  -webkit-box-shadow: 3px 3px 20px -8px rgba(69,67,69,1);
-moz-box-shadow: 3px 3px 20px -8px rgba(69,67,69,1);
box-shadow: 3px 3px 20px -8px rgba(69,67,69,1);
}
.ScreenCardDescription{
  justify-content:flex;
  flex-direction: flex-start;
}
.ScreenCardContainer{
  display: inline-block;
  width: 80%;
  margin: 0 auto;
  border-right:2px;
  border: 2px solid #808080;
  border-radius: 10px;
  border-top:0;
  border-right:0;
  border-bottom:0;
}
.ScreenCardContainerLabel{
  font-size:22px;
  text-align:left;
  padding-left: 20px;
  font-weight: 600;

}
.ScreenCardContainerDescription{
  font-size:16px;
  text-align:left;
  padding-left: 20px;
}

.posts-container {
  height:auto;
  background-color:white;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -webkit-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 1px 32px -13px rgba(0,0,0,0.75);
  width:60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-areas:
    
    'navigation-panel postScreen postScreen postScreen postScreen postScreen'
    'navigation-panel postScreen postScreen postScreen postScreen postScreen';
  gap: 5px;
  background-color: #72b5f8;
  padding: 10px;

}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
}
.logo-main
{
  height:200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  background-color: white;
  -webkit-box-shadow: 3px 3px 20px -8px rgba(69,67,69,1);
  -moz-box-shadow: 3px 3px 20px -8px rgba(69,67,69,1);
  box-shadow: 3px 3px 20px -8px rgba(69,67,69,1);
}

.header-icon{
  height:80px;
  width: 80px;
}
form{
  padding:20px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}